<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>保护传统文化，助力乡村振兴</title>
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico"/>
    <!-- Google Fonts -->
    <link href="static/css/css2.css" rel="stylesheet">
    <!-- 成套设备 CSS -->
    <link rel="stylesheet" href="static/css/uikit.min.css">
    <!--象形异体字 CSS -->
    <link rel="stylesheet" href="static/css/all.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="static/css/theme.css">
    <!-- Utilities CSS -->
    <link rel="stylesheet" href="static/css/utilities.css">
    <!--    other-->
    <link rel="stylesheet" href="static/css/ohter.css">

</head>

<body>

<!-- 预加载程序启动 -->
<div class="loader js-preloader">
    <div></div>
    <div></div>
    <div></div>
</div>
<!-- 预加载器末端 -->
<div id="app">

    <!-- 页眉起始 -->
    <header class="header-cont" id="header">
        <div class="header" data-uk-sticky="start: 180; animation: uk-animation-slide-top">
            <div class="uk-container">
                <div class="header-inner">
                    <div class="header-inner-right">
                        <!-- Desktop Menu Starts -->
                        <div class="header-nav">
                            <ul>
                                <li v-for="(category, i) in title.categoryList" :key="i">
                                    <a :href="category.src" data-uk-scroll="uk-scroll">{{ category.title }}</a>
                                </li>
                            </ul>
                        </div>
                        <!--桌面菜单结束 -->
                        <!-- 页眉桌面按钮启动 -->
                        <div class="ml-30 header-btn">
                            <a href="#counter" class="px-20"
                               data-uk-scroll="offset: 80;">
                                <img src="static/picture/culture.png" alt="culture">
                            </a>
                        </div>
                        <!-- 页眉桌面按钮结束 -->
                        <!-- 移动菜单触发器启动 -->
                        <div class="mobile-menu-trigger">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </div>
                        <!-- 移动菜单触发器结束 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- 移动边栏启动 -->
        <div class="mobile-menu-overlay"></div>
        <div class="mobile-menu-sidebar">
            <div class="mobile-menu-sidebar-header">
                <div class="mobile-close">
                    <a href="#">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <!-- 移动导航启动 -->
            <div class="mobile-nav mt-40">
                <ul class="mobile-menu"></ul>
            </div>
            <!-- 移动导航端 -->
            <!-- 移动按钮启动 -->
            <div class="px-20 mt-40">
                <a href="#counter" class="theme-btn theme-btn-md theme-btn-primary" target="_self">
                    <img src="static/picture/culture.png" alt="culture"></a>
            </div>
            <!-- 移动按钮末端 -->
        </div>
        <!-- 移动边栏端 -->
    </header>
    <!-- 页眉末端 -->

    <!-- 分区起始位置 -->
    <section id="home" class="page-section">
        <div class="top-banner-two-cont py-120" style="background-image: url('static/image/2.jpg');">
            <div class="uk-container">
                <div class="uk-flex-middle" data-uk-grid="">
                    <!-- Banner Left Starts -->
                    <div class="uk-width-1-2@m">
                        <div data-uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true">
                            <div class="banner-text-cont mb-40">
                                <div class="meta-text meta-text-18 font-weight-600 text-white mb-15">
                                    保护中华民族优秀传统文化
                                </div>
                                <h1 class="banner-section-title text-white">
                                    助力乡村振兴
                                </h1>
                            </div>
                            <form action="#">
                                <div class="subscription-cont"
                                     data-uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true">
                                    <div class="form-group my-10">
                                        <div class="input-icon input-icon-white">
                                            <i class="fa-regular fa-paper-plane"></i>
                                        </div>
                                        <label>
                                            <input type="email" class="form-input input-white" id="email" v-model="home.email"
                                                   placeholder="此处为您的电子邮件">
                                        </label>
                                    </div>
                                    <div class="form-btn my-10">
                                        <button type="button" class="theme-btn theme-btn-lg theme-btn-primary"
                                                :disabled="home.isDisabled" @click="homeSubscription()">
                                            <span class="theme-btn-text">{{ home.ifSubscription }}</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Banner Left Ends -->
                    <!-- Banner Right Starts -->
                    <div class="uk-width-1-2@m">
                        <div data-uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true">
                            <div class="uk-grid-small uk-flex-middle mt-40 mt-md-0" data-uk-grid="">
                                <div class="uk-width-1-2 uk-width-2-5@m">
                                    <div class="veritcal-move-anim">
                                        <img src="static/picture/rural.png" alt="Book">
                                    </div>
                                </div>
                                <div class="uk-width-1-2 uk-width-3-5@m">
                                    <img src="static/picture/action.png" alt="Author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--横幅右端 -->
                </div>
            </div>
        </div>
    </section>
    <!-- 截面起始端 -->
    <!-- 计数器启动 -->
    <div id="counter">
        <div class="banner-dark-with-bg-img py-120 " id="directory"
             style="background-image: url('static/image/video-bg.jpg');">
            <div class="uk-container">
                <div data-uk-grid="">
                    <div class="uk-width-1-2@s uk-width-1-4@m" v-for="(item, i) in directory.directoryList" :key="i">
                        <div class="counter-box-one">
                            <div class="counter-number text-white mb-15">
                            <span class="scroll-counter" data-counter-time="3000">{{
                                    item.counter
                                }}</span>{{ item.suffix }}
                            </div>
                            <div class="meta-text meta-text-16 font-weight-600 text-white">
                                {{ item.title }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 对端 -->
    <!-- 关于开始部分-->
    <section id="folk-literature" class="page-section">
        <div class="py-120">
            <div class="uk-container">
                <!-- 章节标题开始 -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        民间文学
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title">
                        分类
                    </h2>
                </div>
            </div>
            <!-- 章节标题结束 -->
            <div class="uk-flex-middle" data-uk-grid=""
                 data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                <div class="hover mb-80 uk-width-3-3@m">
                    <div class="folk-card" v-for="(category,i) in folkLiterature.categoryList" :key="i">
                        <div class="box">
                            <div class="img-box">
                                <img :src="category.imgSrc" alt="">
                            </div>
                            <div class="con-box">
                                <div class="text">
                                    <div>
                                        <h2>{{ category.title }}</h2>
                                        <p>{{ category.desc }}</p>
                                    </div>
                                    <div class="btn"><a href="#">了解详情</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Info Endss -->
            </div>

        </div>
        <div class="py-120 bg-gray-100">
            <div class="uk-container">
                <!-- Sub Section Title Starts -->
                <div class="sub-section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-top-medium; repeat: true">
                    <h3 class="section-title mb-15">民间文学实例</h3>
                    <div class="bottom-icon">
                        <span class="icon-circle"></span>
                    </div>
                </div>
                <!-- Sub Section Title Ends -->
                <div class="uk-flex-middle" data-uk-grid="">
                    <!-- Award Info Starts -->
                    <div class="uk-width-1-2@m">
                        <div data-uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true">
                            <div class="featured-list-cont pt-20">
                                <div class="featured-list-item" v-for="(featured,i) in folkLiterature.featuredList" :key="i">
                                    <div class="featured-list-box">
                                        <i class="fa-solid fa-award"></i>
                                    </div>
                                    <div class="list-content">
                                        <h5 class="number-list-title">{{ featured.title }}</h5>
                                        <p>{{ featured.desc }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Award Info Ends -->
                    <!-- 图像开始 -->
                    <div class="uk-width-1-2@m">
                        <div class="mt-40 mt-md-0" data-uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true">
                            <div class="uk-text-center uk-text-right@m folk-img">
                                <!-- --d是自定义属性,可通过var函数对其调用 -->
                                <div class="folk-img-card" :style="{'--d': i}" v-for="(featured,i) in folkLiterature.featuredList"
                                     :key="i">
                                    <div class="content">
                                        <div class="img">
                                            <img :src="featured.imgSrc" alt="">
                                        </div>
                                        <div class="detail">
                                            <span>{{ featured.title }}</span>
                                            <p>{{ featured.desc }}</p>
                                        </div>
                                    </div>
                                    <a href="#">详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--图像结束-->
                </div>
            </div>
        </div>

    </section>
    <!-- 关于端点的部分 -->

    <!-- 分区簿开始 -->
    <section id="music" class="page-section">
        <div class="py-120">
            <div class="uk-container">
                <!-- 章节标题开始 -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        古典
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title">
                        传统音乐
                    </h2>
                </div>
                <!-- 章节标题结束 -->
                <!-- 垂直制表符起始 -->
                <div data-uk-grid="" data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <div class="uk-width-1-3@m">
                        <ul class="vertical-tab-list" data-uk-tab="connect: #chapter-summary; animation: uk-animation-fade">
                            <li v-for="(category,i) in music.categoryList" :key="i">
                                <a href="#">{{ category.title }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-2-3@m">
                        <ul id="chapter-summary" class="uk-switcher">
                            <li v-for="(category,i) in music.categoryList" :key="i">
                                {{ category.desc }}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 垂直制表符结束 -->
            </div>
        </div>
    </section>
    <!-- Ends -->
    <!-- 传统舞蹈 Starts -->
    <section id="dance" class="page-section">
        <div class="banner-dark-with-bg-img py-120" style="background-image: url('static/image/abstract-bg2.jpg');">
            <div class="uk-container">
                <!-- Sub Section Title Starts -->
                <div class="sub-section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-top-medium; repeat: true">
                    <h3 class="section-title text-white mb-15">传统舞蹈</h3>
                    <div class="bottom-icon">
                        <span class="icon-circle"></span>
                    </div>
                </div>
                <!-- 小节标题结束 -->
                <div class="uk-flex-middle" data-uk-grid="">
                    <div class="uk-width-3-3@m music">
                        <div class="music-card">
                            <div class="music-card-item" v-for="(inclusion, i) in dance.inclusionList" :key="i">
                                <div class="img-box">
                                    <img :src="inclusion.imgSrc" alt="">
                                </div>
                                <div class="text-box">
                                    <h2>{{ inclusion.title }}</h2>
                                    <p>{{ inclusion.desc }}</p>
                                    <!-- HTML !-->
                                    <button class="button-64" role="button"><span class="text">详情</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 传统舞蹈 Ends -->
    <!-- 传统戏曲 Starts -->
    <section id="traditional-opera" class="page-section">
        <div class="py-120 bg-gray-100">
            <div class="uk-container">
                <!-- Section Title Starts -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        唱、念、做、打
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title">
                        传统戏曲
                    </h2>
                </div>
                <!-- Section Title Ends -->
                <!-- Events Start -->
                <div data-uk-grid=""
                     data-uk-scrollspy="cls: uk-animation-fade; target: .event-cont; delay: 200; repeat: true">
                    <div class="uk-width-1-3@s uk-width-1-4@m" v-for="(category, i) in traditionalOpera.categoryList" :key="i">
                        <div class="event-cont image-hover-one">
                            <div class="event-img img-box mb-40">
                                <img :src="category.imgSrc" alt="Event" style="height: 200px;width: 100%;">
                                <div class="v-bar bar-1"></div>
                                <div class="v-bar bar-2"></div>
                                <div class="v-bar bar-3"></div>
                                <div class="v-bar bar-4"></div>
                            </div>
                            <div class="event-content pb-40 px-25">
                            <span class="event-date meta-text meta-text-14 font-weight-600 text-gray-500 mb-15">{{
                                    category.date
                                }}</span>
                                <h4 class="mb-20">
                                    <a :href="category.url">{{ category.title }}</a>
                                </h4>
                                <div class="clipped-text clipped-text clipped-by-two-line">
                                    {{ category.desc }}
                                </div>
                                <a class="pt-25 read-more-link meta-text meta-text-14 font-weight-600"
                                   :href="category.url">阅读更多
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Events End -->
                <!-- All Events Button Starts -->
                <div class="mt-40 uk-text-center">
                    <a href="all-events.html" class="theme-btn theme-btn-lg theme-btn-primary">
                        <span class="theme-btn-text">查看所有分类</span>
                    </a>
                </div>
                <!-- All Events Button Ends -->
            </div>
        </div>
    </section>
    <!-- Section Event Ends -->
    <section id="quyi" class="page-section">

        <div class="banner-dark-with-bg-img py-120">
            <div class="uk-container">
                <!-- Section Title Starts -->
                <div class="section-title-cont section-title-centered mb-20"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        曲艺
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title">
                        说唱艺术
                    </h2>
                </div>
                <!-- Section Title Ends -->
                <!-- Testimonials Slider Starts -->
                <div data-uk-slider="autoplay: true; autoplay-interval: 5000"
                     data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
                        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                            <li v-for="(category,i) in quyi.categoryList" :key="i" style="height: 300px;width: 800px;">
                                <div class="review-box-one" style="height: 100%;">
                                    <div class="review-one-top">
                                        <div class="top-left-icon">
                                            <i class="fa-solid fa-quote-left"></i>
                                        </div>
                                        <div class="review-stars">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="review-text">
                                        {{ category.desc }}
                                    </div>
                                    <div class="review-info">
                                        <div class="reviewer-details">
                                            <h3 class="mb-10">{{ category.title }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="theme-slider-nav mt-40">
                        <a href="#" data-uk-slider-item="previous">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#" data-uk-slider-item="next">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
                <!-- Testimonials Slider Ends -->
            </div>
        </div>
    </section>
    <!-- Section Testimonial Starts -->
    <section id="sports" class="page-section">
        <div class="py-120">
            <div class="uk-container">
                <!-- Section Title Starts -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        中华传统文化
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title">
                        传统体育、游艺与杂技
                    </h2>
                </div>
                <!-- Section Title Ends -->

            </div>
        </div>
        <!-- Vertical Tabs Start -->
        <div data-uk-grid="" data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
            <div class="uk-width-3-3@m">
                <ul class="vertical-tab-list mr-35 ml-35"
                    data-uk-tab="connect: #chapter-summary; animation: uk-animation-fade">
                    <li v-for="(category,i) in sports.categoryList" :key="i">
                        <a href="#">{{ category.title }}</a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-3-3@m">
                <ul id="chapter-summary" class="uk-switcher mr-35 ml-35">
                    <li v-for="(category,i) in sports.categoryList" :key="i">
                        {{ category.desc }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Vertical Tabs End -->
        <div class="py-120 bg-gray-100 mt-35">
            <div class="uk-container">
                <!-- Sub Section Title Starts -->
                <div class="sub-section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-top-medium; repeat: true">
                    <h3 class="section-title mb-15">收录代表</h3>
                    <div class="bottom-icon">
                        <span class="icon-circle"></span>
                    </div>
                </div>
                <!-- Sub Section Title Ends -->
                <!-- Horizontal Accordion Starts -->
                <div class="horizontal-accordion uk-clearfix" id="chapter-preview"
                     data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <div class="h-acc-item" @click="sportsSwitchInclusion(i)" :class="{active: i === sports.isActive}"
                         :style="{backgroundImage: `url(${inclusion.imgSrc}`}" v-for="(inclusion, i) in sports.inclusionList"
                         :key="i">
                        <h4 class="h-acc-title">{{ inclusion.title }}</h4>
                        <div class="h-acc-overlay" data-uk-lightbox="uk-lightbox">
                            <a class="h-acc-zoom-link" :href="inclusion.imgSrc">
                                <!--                            <img :src="inclusion.imgSrc">-->
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Horizontal Accordion Ends -->
            </div>
        </div>
        <!-- Call To Action Ends -->
    </section>
    <!-- Section Testimonial Ends -->

    <!-- Section Blog Starts -->
    <section id="fine-arts" class="page-section">
        <div class="py-120 bg-gray-100 banner-dark-with-bg-img">
            <div class="uk-container">
                <!-- Section Title Starts -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        最近的新闻
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title text-white">
                        传统美术
                    </h2>
                </div>
                <!-- Section Title Ends -->
                <!-- Blog Slider Starts -->
                <div data-uk-slider="autoplay: true; autoplay-interval: 5000"
                     data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
                        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid">
                            <li v-for="(category, i) in fineArts.categoryList" :key="i">
                                <!-- Blog Item Starts -->
                                <div class="blog-cont pt-30" style="height: 600px">
                                    <div class="blog-meta meta-text meta-text-14 font-weight-600 text-gray-500 mb-15 px-25">
                                        <span>{{ category.title }}</span>
                                        <span>{{ category.classification }}</span>
                                    </div>
                                    <h4 class="blog-title mb-0 px-25" style="height: 300px">
                                        <a href="single-blog.html">{{ category.desc }}</a>
                                    </h4>
                                    <div class="blog-img mt-30">
                                        <img :src="category.imgSrc" alt="Blog" style="height: 200px;width: 100%">
                                        <div class="blog-cat-list">
                                            <a href="blog.html">Graphics</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Blog Item Ends -->
                            </li>
                        </ul>
                        <ul class="uk-slider-nav theme-dot-nav uk-flex-center mt-40"></ul>
                    </div>
                </div>
                <!-- Blog Slider Ends -->
            </div>
        </div>
    </section>
    <!-- Section Blog Ends -->


    <!-- Section Contact Starts -->
    <section id="skill" class="page-section">
        <div class="banner-dark-with-bg-img py-120" style="background-image: url('static/image/contact-bg2.jpg');">
            <div class="uk-container">
                <!-- Section Title Starts -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        传统技艺
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title text-white">
                        民间传承下来的技艺
                    </h2>
                </div>
                <!-- Section Title Ends -->
                <!-- Contact Boxes Start -->
                <div data-uk-slider="autoplay: true; autoplay-interval: 2000"
                     data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
                        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid">
                            <li v-for="(category,i) in skill.categoryList" :key="i">
                                <div class="card">
                                    <div class="photo"><img :src="category.imgSrc" alt=""></div>
                                    <h1>{{ category.title }}</h1>
                                    <h2>{{ category.nickname }}</h2>
                                    <p>{{ category.desc }}</p>
                                    <a :href="category.src">了解更多</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Contact Boxes End -->
                <!-- Sub Section Title Starts -->
                <div class="sub-section-title-cont section-title-centered mt-80 mb-40"
                     data-uk-scrollspy="cls: uk-animation-slide-top-medium; repeat: true">
                    <h3 class="section-title text-white mb-15">在社交媒体上关注我</h3>
                    <div class="bottom-icon">
                        <span class="icon-circle"></span>
                    </div>
                </div>
                <!-- Sub Section Title Ends -->
                <!-- Social Icons Start -->
                <div class="theme-social-boxed color-primary"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
                    <ul class="uk-flex-center">
                        <li>
                            <a href="" target="_self" rel="nofollow">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_self" rel="nofollow">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_self" rel="nofollow">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_self" rel="nofollow">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Social Icons Ends -->
            </div>
        </div>
        <div class="py-120 bg-gray-100">
            <div class="uk-container">
                <div data-uk-grid="">
                    <!-- Contact Form Starts -->
                    <div class="uk-width-1-2@m">
                        <div data-uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true">
                            <!-- Sub Section Title Starts -->
                            <div class="sub-section-title-cont mb-40">
                                <h3 class="section-title mb-15">给我们留个答复</h3>
                                <div class="bottom-icon">
                                    <span class="icon-circle-left"></span>
                                </div>
                            </div>
                            <!-- Sub Section Title Ends -->
                            <form>
                                <div class="form-group mb-25">
                                    <div class="input-icon">
                                        <i class="fa-regular fa-user"></i>
                                    </div>
                                    <input type="text" class="form-input" placeholder="名称">
                                </div>
                                <div class="form-group mb-25">
                                    <div class="input-icon">
                                        <i class="fa-regular fa-envelope-open"></i>
                                    </div>
                                    <input type="email" class="form-input" placeholder="电子邮件">
                                </div>
                                <div class="form-group mb-25">
                                    <div class="input-icon">
                                        <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    <input type="text" class="form-input" placeholder="主题">
                                </div>
                                <div class="form-group mb-25">
                                    <div class="input-icon">
                                        <i class="fa-regular fa-comments"></i>
                                    </div>
                                    <textarea rows="4" class="form-input" placeholder="消息"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="theme-btn theme-btn-md theme-btn-primary">
                                        <span class="theme-btn-text">发送消息</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Contact Form Ends -->
                    <!-- FAQs Start -->
                    <div class="uk-width-1-2@m">
                        <div data-uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true">
                            <!-- Sub Section Title Starts -->
                            <div class="sub-section-title-cont mb-40 mt-40 mt-md-0">
                                <h3 class="section-title mb-15">传统文化问题</h3>
                                <div class="bottom-icon">
                                    <span class="icon-circle-left"></span>
                                </div>
                            </div>
                            <!-- Sub Section Title Ends -->
                            <ul data-uk-accordion="uk-accordion">
                                <!--                            class="uk-open"-->
                                <li v-for="(problem,i) in skill.problemList" :key="i">
                                    <a class="uk-accordion-title" href="#">{{problem.title}}</a>
                                    <div class="uk-accordion-content">
                                        <p>{{problem.desc}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- FAQs End -->
                </div>
            </div>
        </div>
    </section>
    <!-- Section Contact Ends -->

    <section id="medicine" class="page-section">
        <div class="py-120">
            <div class="uk-container">
                <!-- 章节标题开始 -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-30">
                        <div class="tag-before"></div>
                        传统医药
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title">
                        分类
                    </h2>
                </div>
            </div>
            <div class="calligraphy" data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                <div class="item active" @click="medicineSwitchInclusion(i)" :class="{active: i === medicine.isActive}"
                     :style="{backgroundImage: `url(${category.imgSrc})`}" v-for="(category, i) in medicine.categoryList" :key="i">
                    <div class="shadow"></div>
                    <div class="content">
                        <div class="icon">
                            <i :class="category.icon"></i>
                        </div>
                        <div class="text">
                            <div class="tit">{{ category.title }}</div>
                            <div class="sub">{{ category.desc }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="folk-custom" class="page-section">
        <div class="py-95">
            <div class="uk-container">
                <!-- Section Title Starts -->
                <div class="section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
                    <div class="section-tag-line mb-15">
                        <div class="tag-before"></div>
                        一种民间文化
                        <div class="tag-after"></div>
                    </div>
                    <h2 class="section-title">
                        民俗
                    </h2>
                </div>
                <!-- Section Title Ends -->
                <!-- Vertical Tabs Start -->
                <div data-uk-grid="" data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <div class="uk-width-1-4@m">
                        <ul class="vertical-tab-list"
                            data-uk-tab="connect: #chapter-summary-two; animation: uk-animation-fade">
                            <li v-for="(category,i) in folkCustom.categoryList" :key="i">
                                <a href="#">{{ category.title }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-3-4@m">
                        <ul id="chapter-summary-two" class="uk-switcher">
                            <li v-for="(category,i) in folkCustom.categoryList" :key="i" style="font-size: 25px">
                                {{ category.desc }}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Vertical Tabs End -->
            </div>
        </div>

        <div class="py-120 bg-gray-100">
            <div class="uk-container">
                <!-- Sub Section Title Starts -->
                <div class="sub-section-title-cont section-title-centered mb-80"
                     data-uk-scrollspy="cls: uk-animation-slide-top-medium; repeat: true">
                    <h3 class="section-title mb-15">收录代表</h3>
                    <div class="bottom-icon">
                        <span class="icon-circle"></span>
                    </div>
                </div>
                <!-- Sub Section Title Ends -->
                <!-- Horizontal Accordion Starts -->
                <div class="horizontal-accordion uk-clearfix" id="chapter-preview"
                     data-uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <div class="h-acc-item" @click="folkCustomSwitchInclusion(i)" :class="{active: i === folkCustom.isActive}"
                         :style="{backgroundImage: `url(${inclusion.imgSrc})`}"
                         style="width: 100%;height: 100%;"
                         v-for="(inclusion, i) in folkCustom.inclusionList"
                         :key="i">
                        <h4 class="h-acc-title">{{ inclusion.title }}</h4>
                        <div class="h-acc-overlay" data-uk-lightbox="uk-lightbox">
                            <a class="h-acc-zoom-link" :href="inclusion.imgSrc">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Horizontal Accordion Ends -->
            </div>
        </div>
        <!-- Call To Action Ends -->
    </section>
    <!-- Footer Starts -->
    <footer class="footer" id="footer">
        <div class="bg-gray-900 py-120">
            <div class="uk-container">
                <div class="footer-logo uk-text-center">
                    <a href="index.html" style="height: 100%; width: 100%;">
                        <img src="static/picture/china.png" alt="Lekhak">
                        <img src="static/picture/revitalize.png" alt="revitalize">
                    </a>
                </div>
                <nav class="footer-nav mt-25">
                    <ul>
                        <li v-for="(category, i) in title.categoryList" :key="i">
                            <a :href="category.src" data-uk-scroll="uk-scroll">{{ category.title }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="uk-container">
            <div class="py-25 uk-text-center pr-20">
                <a href="https://beian.miit.gov.cn/" target="_blank" class="mr-35">鄂ICP备2023011277号</a>
                <a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备2023011277号-1</a>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->

    <!-- Back To Top Starts -->
    <div id="back-to-top">
    <span id="back-to-top-value">
      <i class="fa-solid fa-up-long"></i>
    </span>
    </div>
    <!-- Back To Top Ends -->
</div>
<!--    Vue3-->
<script src="static/js/vue3.js"></script>
<!-- jQuery JS -->
<script src="static/js/jquery.js"></script>
<!-- UIKIT JS -->
<script src="static/js/uikit.min.js"></script>
<!-- Counter JS -->
<script src="static/js/counter.js"></script>
<!-- Back To Top JS -->
<script src="static/js/back-to-top.js"></script>
<!-- Theme JS -->
<script src="static/js/theme.js"></script>
<!-- Vue3 JS-->
<script src="static/js/vue-template.js"></script>
<script src="static/js/calligraphy.js"></script>
<script src="static/js/other.js"></script>
</body>
</html>
